<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Realizar Aplicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      <h1 style="text-align: center;">Encontre o participante</h1>
      <p>Pesquise por: Nome, Matricula, CPF ou Token</p>
    </ion-label>
  </ion-item>

  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)" placeholder="Pesquise o participante"></ion-searchbar>

  <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>

  <ion-list>
    <ion-item *ngIf="!results.length && !showLoading">
      <ion-label>
        <h1 style="text-align: center;">Nenhum resultado encontrado</h1>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let result of results" (click)="apply(result.id, result.participanteNome)" [attr.disabled]="!!result.dtAplicacao || showLoading">
      <ion-label>
        <h1>{{ result.participanteNome }}</h1>
        <p><b>MATRICULA:</b> {{ result.participanteCodigoExterno }} - <b>CPF:</b> {{ result.participanteCpf }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>