<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Trabalhar com dados offline</ion-label>
      <ion-toggle slot="end" [(ngModel)]="workOffline" (ionChange)="changeOffline($event)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="workOffline">
      <ion-label>
        <p>Status da sincronização</p>
        <ion-progress-bar [value]="progress"></ion-progress-bar>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
